*{
   margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    /* Fundo */
    --bg: #070B1A;
    --surface: #111827;
    --surface-light: #1E293B;

    /* Cores principais */
    --primary: #7C3AED;
    --primary-light: #A855F7;

    --secondary: #22C55E;
    --secondary-light: #4ADE80;

    /* Destaques */
    --accent: #00E5A8;

    /* Textos */
    --text: #F8FAFC;
    --text-muted: #94A3B8;

    /* Bordas */
    --border: #2D3748;
}

body {
    font-family:verdana, sans-serif;
    background-color: var(--border); 
    color: #a486d4;
}

html {
    scroll-behavior: smooth;
}

p {
    text-align: justify;
}

.cabecalho{
  display: flex;
  justify-content: space-between;
  background-color: var(--bg);
  padding: 10px;
  border-bottom: 3px solid #190042;
}

.cmc {
    color: #fff;
    font-family: arial, sans-serif;
}

.nome {
    color: #fff;
}

.dev {
    color: #6721d6;
}

.menu {
   display: flex;
   gap: 20px;
   list-style: none;
   font-size: 1.2rem;
   font-family:arial, sans-serif;
   padding-top: 10px;
}


a{
    text-decoration: none;
    color: #fff;
    padding: 10px;
    margin-right: 10px;
     transition: 0.2s;
}

a:hover {
    color: purple;
}

.hamburguer {
    display: none;
    font-size: 30px;
    cursor: pointer;
}

.container {
    background-color: var(--bg);
    font-family: verdana, sans-serif;
    font-size: 1.2rem;
    color: #fff;
    margin: 20px;
    border-radius: 20px;
}

.apresentacao {
    display: flex;
    align-items: center;
    padding: 50px;
    font-size:20px;
    justify-content: space-between;
}

.texto {
    max-width: 800px;
    margin-left: 5%;
}

.sobrenome {
    color: #6846cc;
}

.foto {
    width: 100%;
    max-width: 400px;
    border-radius: 40px;
    border: 5px solid #4d32c7;
   margin-right: 20%;
}

.titulo-sobre {
    margin-bottom: 20px;
    color: #fff;
    background-color: var(--bg);
    margin: 20px;
    border-radius: 20px;
}

.sobre {
    font-family: verdana, sans-serif;
    color: white;
    text-align: center;
    margin-top: 15px;
    font-size: xx-large;
    margin-right: 70px;
}

.persona {
   width: 100px;
   padding: 20px;
   margin-left: 60px;
   flex-direction: column;
   color: #fff;
}


.txt {
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 60px;
    margin: 40px;
}
 
.texto {
    flex: 2;
    align-items: justify;
}

.habilidades-box {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: flex-end;
    margin-right: 20%;
    margin-bottom: 20px;
}

.habilidades {
    margin-right: 15px;
    margin-bottom: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
}

.menu-sobre {
    flex-direction: column;
    display: flex;
    gap: 10px;
    list-style: none;
}

.trabalhos {
    color: #fff;
    padding: 20px;
    margin: 20px;
    background-color:var(--bg );
    border-radius: 20px
}

.sobre-projeto {
  text-align: center;  
}

.projetos {
    display: flex;
    gap: 30px;
}

.clone-mercado {
    color: var(--text);
    text-align: center;
}

.mercado {
  color: var(--text-muted);  
    
}

.mercado-2 {
    border-radius: 30px;
    width: 150px;
}

.img-pet {
    width: 250px;
}

.sobre-petshop {
    text-align: center;
}

.petshop {
    color: #fff;
    text-align: center;
}

.final {
    border-top: 3px solid #190042;
    width: 100%;
    padding: 20px;
    background-color: var(--surface-light);
    text-align: center;
    color: #fff;
}

.images-final:hover {
    transition: 0.4ms;
    color: #00E5A8;
}

.insta {
    width: 27px;
    
}

.final-2 {
    text-align: center;
}
@media screen and (max-width: 1020px){

      .menu{
        display: none;
        flex-direction: column;
        position: absolute;
        top: 70px;
        right: 20px;
        background: #222;
        padding: 15px;
        border-radius: 10px;
    }

    .menu.ativo{
        display: flex;
    }

    .hamburguer{
        display: block;
    }

    .apresentacao {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 20px;
        
    }

    .texto {
        order: 1;
    }

    .foto {
        order: 2;
        width: 150px;
        height: 180px;
        margin: 0 auto;
    }

    .sobre {
    font-family: verdana, sans-serif;
    color: white;
    text-align: center;
    padding-top: 10px;
}

    .txt {
    color: var(--text-muted);
    font-family: 'Courier New', Courier, monospace;
    flex-direction: column-reverse;
    justify-content: space-between;
    font-weight: bold;
    font: 1.5em;
    align-items: justify;
}

    .habilidades {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 2em;
    color: #fff;
}

    .habilidades-box {
    display: flex;
    align-items: flex-start;
    
}

    .menu-sobre {
    gap: 10px;
    list-style: none;
}

    .projetos {
    margin-top: 20px;
    flex-direction: column;
    gap: 30px;
}

    .img-pet {
    width: 250px;
    align-items: center;
}

    p {
        align-items: justify;
    }
}
